<!-- views/partials/comment-form.handlebars -->

<form action="/ideas/{{idea._id}}/comments" method="post">
  <input type="hidden" value="{{ideas._id}}" name="ideasId">
  <fieldset>
    <legend>Add a Comment</legend>
    <!-- Your Name -->
    <div class="form-group">
      <label for="comment-name">Your Name</label><br>
      <input class="form-control" id="comment-name" type="text" name="name" placeholder="Your Name"/>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="comment-content">Description</label><br>
      <textarea class="form-control" id="comment-content" name="content" rows="10" placeholder="Your comment..."/></textarea>
    </div>
  </fieldset>

  <!-- BUTTON -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save Comment</button>
  </div>
</form>