<form action="/ideas" method="post">
<fieldset>
    <legend>New Idea?</legend>
    <p>
        <label for="pitch">One Sentence Pitch</label>
        <input type="text" name="pitch" id="pitch" />
    </p>
</fieldset>
    <button type="submit">Submit Idea</button>
</form>