<form action="/ideas" method="post">
<fieldset>
    <legend>New Idea?</legend>
    <p>
        <label for="pitch">One Sentence Pitch</label>
        <input type="text" name="pitch" id="pitch" />
    </p>
</fieldset>
    <button class="btn btn-primary" type="submit">Submit Idea</button>
    <!-- Delete button -->
    <p>
    <button class="btn btn-danger"type="reset">Clear</button>
    <a href="/">Back to Home</a>
    </p>
</form>